@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(115, 144, 170);
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    border-radius: 5px;
    background: rgb(13, 36, 78)
}

.game-details {
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: rgb(6, 49, 104);
}

.play-board .food {
    background-color: rgb(187, 20, 62);
}

.play-board .snakeHead {
    background-color: rgb(7, 177, 30);
}

img {
    width: 30px;
    height: 30px;
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    border-right: 1px solid black;
    padding: 25px 0;
    color: rgb(20, 117, 182);
    width: calc(100% / 4);
}

@media  screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 85vmin;
    }
    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls {
        display: flex;
        background: rgb(6, 49, 104);
    }
    .controls i {
        padding: 15px 0;
        font-size: 1rem;
        border-top: 1px solid black;
    }
    img {
        width: 17px;
        height: 17px;
    }
}